html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}
@media (max-width: 414px) {
  h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 4.2rem;
  }
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.3rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.1rem;
  }
}

h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}
@media (max-width: 768px) {
  h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3rem;
  }
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

.input {
  background-color: #FFFFFF;
  padding: 1rem 2.5rem;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
  font-size: 2rem;
  outline: 0;
  box-sizing: border-box;
}
.input::placeholder {
  color: #A1A1A1;
}

.search-bar {
  display: flex;
  flex-direction: row;
}
.search-bar__input {
  display: block;
  border-right: 0;
  width: 50rem;
}
.search-bar__select {
  display: block;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../assets/select_arrow.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: right 10px top 50%;
}

.icon {
  cursor: pointer;
  display: inline-block;
}

.icon_favorite {
  height: 2rem;
  width: auto;
}

.icon_cart {
  height: 2rem;
  width: auto;
}

.icon_google {
  height: 2rem;
  width: auto;
}

.icon_github {
  height: 2rem;
  width: auto;
}

.label {
  color: #484848;
}

.link {
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.link:hover {
  color: #484848;
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s;
  color: #A1A1A1;
  cursor: pointer;
}

.button_submit {
  background-color: #6FCF97;
  color: #FFFFFF;
  border: 0;
}
.button_submit:hover {
  background-color: #569D74;
}

.button_cancel {
  background-color: #FFFFFF;
  color: #484848;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
}
.button_cancel:hover {
  background-color: #A1A1A1;
}

.small-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #484848;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
}
.small-button:hover {
  background-color: #A1A1A1;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #484848;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.hamburger {
  position: relative;
  width: 31px;
  height: 22.5px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc( 50% - 1.5px );
  left: 0;
}

.textarea {
  background-color: #FFFFFF;
  padding: 1.65rem 2.5rem;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
  font-size: 1.5rem;
  outline: 0;
  box-sizing: border-box;
  resize: none;
}
.textarea::placeholder {
  color: #A1A1A1;
}

.coupon-description-p {
  font-size: 1.15rem;
}

.coupon-description-dim-p {
  font-size: 1rem;
  color: #808080;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-color: #F2F2F2;
}

.form-login {
  width: 50rem;
  box-sizing: border-box;
  padding: 16rem 5rem 4rem 5rem;
  position: relative;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
  background-color: #FFFFFF;
}
.form-login__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A1A1A1;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
}
.form-login__oauth {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-login__icons {
  padding-top: 0.5rem;
}
.form-login__icons > .icon {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.form-login > .form-login__input, .form-login__button {
  width: 100%;
}
.form-login > * {
  margin: 0.5rem 0;
}

.header {
  background-color: #FFFFFF;
  padding: 2rem;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__logo > .hamburger {
  margin-right: 3rem;
}
.header__logo > .logo {
  font-size: 4rem;
}
.header__actions {
  display: flex;
  flex-direction: row;
}
.header__icons > .icon {
  margin-right: 1rem;
}
.header__links {
  display: inline-block;
}
.header__links a {
  margin-left: -0.2rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  border-right: 0.1rem solid #000000;
}
.header__links a:last-child {
  border-right: none;
}
.header__links a:first-child {
  margin-left: 0;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-color: #F2F2F2;
}

.form-registration {
  width: 100rem;
  box-sizing: border-box;
  padding: 7rem 2rem 2rem 2rem;
  position: relative;
  border: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
  background-color: #FFFFFF;
}
.form-registration__register {
  position: absolute;
  padding-left: 4rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #A1A1A1;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  box-sizing: border-box;
}
.form-registration__columns {
  display: flex;
}
.form-registration__columns > * {
  flex-basis: 50%;
}
.form-registration__column {
  display: flex;
  flex-direction: column;
}
.form-registration__field {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 0 2rem;
}
.form-registration__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}
.form-registration__buttons > button {
  margin-right: 2rem;
  width: 100%;
}
.form-registration__buttons > button:first-child {
  margin-left: 2rem;
}
.form-registration > * {
  margin: 0.5rem 0;
}

.add-coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.form-add-coupon {
  box-sizing: border-box;
  padding: 0 2rem 2rem 2rem;
}
.form-add-coupon__info {
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #A1A1A1;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
}
.form-add-coupon__add-new {
  margin: 0 2rem;
}
.form-add-coupon__columns {
  width: 100rem;
  display: flex;
}
.form-add-coupon__columns > * {
  flex-basis: 50%;
}
.form-add-coupon__column {
  display: flex;
  flex-direction: column;
}
.form-add-coupon__field {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 0 2rem;
}
.form-add-coupon__category-input {
  background-image: url("../assets/select_arrow.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: right 10px top 50%;
}
.form-add-coupon__valid-input {
  background-image: url("../assets/calendar.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: right 10px top 50%;
}
.form-add-coupon__images-input {
  background-image: url("../assets/photo_library.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: right 10px top 50%;
}
.form-add-coupon__buttons {
  display: flex;
  flex-direction: row;
  width: 50rem;
  margin-top: 4rem;
}
.form-add-coupon__buttons > button {
  margin-right: 2rem;
}
.form-add-coupon__buttons > button:first-child {
  margin-left: 2rem;
}
.form-add-coupon > * {
  margin: 0.5rem 0;
}

.coupon {
  background-color: #F2F2F2;
}

.coupon-details {
  padding: 5rem 10rem;
}
.coupon-details__major-info {
  display: flex;
}
.coupon-details__image {
  width: 100%;
  height: 55rem;
  background-color: #A1A1A1;
  margin-right: 5rem;
  box-sizing: border-box;
}
.coupon-details__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50rem;
  height: 55rem;
  margin-left: 5rem;
  background-color: #FFFFFF;
  padding: 2rem;
  box-sizing: border-box;
}
.coupon-details__description-text {
  padding-top: 2rem;
  padding-right: 2rem;
}
.coupon-details__description-left-time {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.coupon-details__buy-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coupon-details__add-to-cart {
  display: flex;
  align-items: center;
}
.coupon-details__add-to-cart > * {
  margin: 0 0.5rem;
}
.coupon-details__add {
  color: aqua;
}
.coupon-details__price {
  font-weight: bold;
}
.coupon-details__detailed-description {
  display: block;
  margin-top: 2rem;
  margin-right: 50rem;
}
.coupon-details__detailed-description > h5 {
  padding: 2rem 0;
}
.coupon-details__description-header {
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.categories {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A1A1A1;
}
.categories__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 4.5rem;
}
.categories__category .category-image {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #FFFFFF;
}
.categories__category > h5 {
  font-weight: normal;
}
.categories__category-name {
  font-weight: bold;
}

.coupons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 25rem 20rem 25rem;
}
.coupons__coupon {
  width: 25rem;
  height: 38rem;
  margin: 1rem;
  background-color: #FFFFFF;
}
.coupons__coupon .coupon-image {
  width: 25rem;
  height: 25rem;
  background-color: #A1A1A1;
}
.coupons__coupon .coupon-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
}
.coupons__coupon .coupon-description > * {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
.coupons__coupon .coupon-description__price {
  border-top: 0.1rem solid #A1A1A1;
  padding-top: 1rem;
}
.coupons__coupon .coupon-description__price-value {
  font-weight: bold;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

.form-checkout {
  width: 85rem;
  box-sizing: border-box;
  padding: 0 2rem 2rem 2rem;
}
.form-checkout__info {
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #A1A1A1;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
}
.form-checkout__checkout {
  margin: 0 2rem;
}
.form-checkout__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}
.form-checkout__image {
  width: 7.5rem;
  height: 7.5rem;
  padding-right: 1rem;
  background-color: #A1A1A1;
}
.form-checkout__summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 0.1rem solid #A1A1A1;
  border-color: #A1A1A1;
  margin: 1rem;
  padding: 1rem;
}
.form-checkout__summary > * {
  margin: 0 2rem;
  font-size: 2.5rem;
}
.form-checkout__description {
  margin-left: 2rem;
  width: 75%;
  margin-right: 25%;
}
.form-checkout__price {
  font-weight: bold;
}
.form-checkout__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4rem;
}
.form-checkout__buttons > button {
  width: 20rem;
  margin-right: 2rem;
}
.form-checkout__buttons > button:first-child {
  margin-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
